.root {



}

BorderPane, AnchorPane {

	-fx-background-color: #1e1e1e;

}

.head-bar, .profile-bar {

	-fx-background-color: #2e2e2e;

}

.status-bar {
	
	-fx-background-color: #7289da;
}

.head-bar > .label {

	-fx-text-fill: #7289da;
	-fx-padding: 0.0em 0.0em 0.0em 1.0em;

}

.sash-pane:horizontal > .sash {

   -fx-background-color: #2e2e2e;

}

.sash-pane:vertical > .sash {

	-fx-background-color: #262626;

}