.menu-bar {

	-fx-background-color: #2e2e2e;

}

.menu:hover, .menu:showing {

	-fx-background-color: #7289da;

}

.menu-item , .context-menu {

	-fx-background-color: #262626;

}

.context-menu {

	-fx-padding: 0.5em 0em 0.5em 0em;

}

.menu-item {

	-fx-padding: 0.3em 2em 0.3em 2.5em;

}

.menu-item:focused {

     -fx-background-color: #969A9F;

}

.context-menu .separator {

	-fx-padding: 0.25em 1em 0.25em 1em;
	-fx-opacity: 0.3;

}

.label {

	-fx-text-fill: white;

}

.mnemonic-underline {

    -fx-text-base-color: white;

}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: blue;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}